<header>
	<div class="css-table">
		<div class="col"><a href="/regapp/#/"><span class="icon-chevron-left"></span> Events</a></div>
		<div class="col center"><h1>Registrations</h1></div>
		<div class="col last"><a id="add"><span class="icon-plus"></span></a></div>
	</div>
</header>

<div data-ng-controller="RegList">
	<form id="theList">
		<fieldset class="search">
			<input type="search" placeholder="Search Registrations" data-ng-model="search.name">
		</fieldset>

		<fieldset>
			<ul class="unstyled">
				<li data-ng-repeat="folk in people | filter:search"  class="datarow align-left">
					<label class="registrant-name align-left">{{folk.name}}</label>
					<label class="switch-light switch-ios align-right" onclick="">
						<input type="checkbox" data-ng-model="folk.here" data-ng-checked="folk.here">
						<span>
							&nbsp;
							<span>No</span>
							<span>Yes</span>
						</span>
						<a></a>
					</label>
				</li>
			</ul>
		</fieldset>

		<fieldset class="static-footer">
			<button type="submit" data-ng-click="postRegistrations()">Save &amp; Submit</button>
		</fieldset>
	</form>


	<div id="addPeople" class="modal hide fade">
		<div class="modal-body">
			<header>
				<div class="css-table">
					<div class="col"><a href="#" class="close" data-dismiss="modal"><span class="icon-chevron-left"></span> Back</a></div>
					<div class="col center"><h1>Add Registration</h1></div>
					<div class="col last">&nbsp;</div>
				</div>
			</header>

			<section>
				<form id="theNewList">
					<fieldset class="search">
						<input type="text" placeholder="Enter Full Name" id="newName" data-ng-model="newName">
					</fieldset>

					<fieldset>
						<button type="submit" data-ng-click="addToList()">Add</button>
					</fieldset>
				</form>

				<ul class="unstyled">
					<li data-ng-repeat="folk in people | filter:{added:true}" class="datarow align-left">
						<label class="align-left">{{folk.name}}</label>
						<a data-ng-click="removePerson()" class="align-right delete"><span class="icon-close"></span></a>
					</li>
				</ul>
			</section>
		</div><!-- end modal body-->
	</div>

</div><!-- end controller -->