<header>
	<a href="/">Events</a>
	<h1>Registrations</h1>
	<a href="/add">Add People</a>
</header>

<div data-ng-controller="RegList">
	<form id="theList">
		<fieldset class="search">
			<input type="search" placeholder="Search Registrations" data-ng-model="search.name">
		</fieldset>

		<fieldset>
			<ul class="unstyled">
				<li data-ng-repeat="folk in people | filter:search"  class="datarow">
					<label class="registrant-name">{{folk.name}}</label>
					<label class="switch-light switch-ios" onclick="">
						<input type="checkbox" data-ng-model="folk.here" data-ng-checked="folk.here">
						<span>
							&nbsp;
							<span>No</span>
							<span>Yes</span>
						</span>
						<a></a>
					</label>
				</li>
			</ul>
		</fieldset>

		<fieldset>
			<button data-ng-click="postRegistrations()">Save &amp; Submit</button>
		</fieldset>
	</form>
</div>